:root{
    --green-flat : #68D9A4;
    --orange-flat : #ED6454;
    --blue-flat : #3282F7;
    --bg-gray: #E7E7E7;
}

.green-flat{
    background-color: var(--green-flat);
}
.orange-flat{
    background-color: var(--orange-flat);
}
.blue-flat{
    background-color: var(--blue-flat);
}

.hide-elem{
    display: none;
}

header{
    margin-top: 20px;
}
/*-------------------------------- LOGO */
div.logo-container{
    display: flex;
    flex-direction: column;
}
img.logo{
    width:50px;
    height:46px;
    align-self: center;
}
h1.logo-text{
    text-align: center;
    color:#D04F4F;
}
/* -------------------------------- TAGS */
div.tags{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 0;
    height: 50px;
}

div.tags .old-search,
div.tags .old-search,
div.tags .old-search{
    margin-right: 4px;
}

div.tags .tag_ingredient,
div.tags .tag_appliance,
div.tags .tag_ustensil{
    margin-right: 8px;
    margin-top: 8px;
    border-radius: 5px;
    width: fit-content;
    padding: 8px;
    color: white;
}
div.tags .tag_ingredient{
    background-color: var(--blue-flat);
}
div.tags .tag_appliance{
    background-color: var(--green-flat);
}
div.tags .tag_ustensil{
    background-color: var(--orange-flat);
}
/*-------------------------- DIV list-float */
div.list-float{
    position:absolute;
    z-index:3 ;
    top: 100%;
    left: 0;
    padding: 20px;
    width: 550px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

div.list-float span.close-btn{
    margin-top: 20px;
    opacity: 0.5;
    float: right;
}
/*-------------------------- ULs */
ul.ingredient span, ul.appliance span, ul.ustensil span{
    margin:3px 5px 3px 5px;
    width:28%;
    height: 20px;
    line-height: initial;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
ul.ingredient span.animtrans,
ul.appliance span.animtrans, 
ul.ustensil span.animtrans{
    animation: translateContent 0.2s ease 0 ;
}
ul.ingredient span.reversetrans,
ul.appliance span.reversetrans, 
ul.ustensil span.reversetrans{
    animation: translateContent 0.2s ease 0 reverse;
}

ul.list_options.deploy-content{
    max-height: 600px;
    overflow-y: scroll;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.list_nav{
    position: relative;
    z-index: 1;
    padding:15px 15px 13px 15px;
    width:140px;
    border-radius: 5px;
    color:white;
    display: flex;
    margin-right: 20px;
    cursor: pointer;
}

.deploy_radius{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.list_nav.deploy{
    width: 550px;
}

.list_nav::after{
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    border-top: 3px solid white ;
    border-left: 3px solid white ;
    top:15px;
    right: 12px;
    transform: rotate(-135deg);
}

.list_nav form input{
    border:none;
    background: transparent;
    color:white;
}

.list_nav form input:focus{
    border:none;
    border-bottom: 1px solid white;
}

.colorbtn-anim-open{
    animation: coloredBtnAnim 0.4s ease-in 0s;
}
.colorbtn-anim-close{
    animation: coloredBtnAnim 0.4s ease-in 0s reverse;
}

@keyframes coloredBtnAnim {
    0%{
        width: 140px;
    }
    100%{
        width: 600px;
    }
}
@keyframes translateContent {
    0%{
        transform: translateY(-100%);
        opacity: 0;
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}

/*-------------------------- HEADER + GALLERIE */
header > nav {
    display:flex;
    margin-top: 30px;
    margin-bottom: 30px;
}
main.gallerie_recipies{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

 /* --------------------------- DESIGN RECIPES CARDS */
.recipe_card{
    width: 29%;
    height:400px;
    margin-bottom: 30px;
}

.recipe_card figure{
    margin:0;
    height:200px;
}
.recipe_card figure img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.recipe_card .recipe{
    display: flex;
    justify-content: space-around;
    background-color: var(--bg-gray);
}

.recipe_card .name,
.recipe_card .time{
    font-size: 18px;
    line-height: 21px;
}

.recipe_card .name{
    font-weight: 400;
}

.recipe_card .time{
    font-weight: 700;
    text-align: end;
}

.recipe_card p{
    font-size: 12px;
}

.recipe_card .recipe .time_description{
    width: 40%;
    overflow: hidden;
}

/* ---------------------------- PAGINATION */
.control_pagination :nth-child(1),
.control_pagination :nth-child(2),
.control_pagination :nth-child(4),
.control_pagination :nth-child(5){
    cursor: pointer;
    font-size: 21px;
    font-weight: bold;
    color: var(--blue-flat);
    transform: scale(1);
    transition: all 0.2s ease-in-out;
}

.control_pagination :nth-child(1):hover,
.control_pagination :nth-child(2):hover,
.control_pagination :nth-child(4):hover,
.control_pagination :nth-child(5):hover{
    transform: scale(1.2);
    color: var(--green-flat);
}